<section class="my-4 flex flex-col w-full">
    <div class="p-3 flex flex-col w-full border-solid border-black border-2">
        <div class="flex justify-between">
            <h2 class="text-xl font-bold"><%= @post.title %></h2>
            <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
        </div>
        <p class="my-3"><%= @post.text %></p>
    </div>
    <ul class="p-3 mt-px flex flex-col w-full border-solid border-black border-2">
        <% @post.comments.each do |comment| %>
            <li>
                <p><%= comment.author.name %>: <%= comment.text %></p>
            </li>
        <% end %>
    </ul>
</section>
<div class="flex justify-center my-4">
    <a class="py-1 px-2 border-solid border-black border-2" href="<%= new_user_post_comment_path(@user, @post) %>">Add comment</a>
</div>